.button {
    background-color: #ffffff00;
    color: #fff;
    width: 9em;
    height: 3em;
    border: #3654ff 0.2em solid;
    border-radius: 11px;
    text-align: center;
    font-size: 1.1em;
    transition: all 0.6s ease;
  }
  
  .button:hover {
    background-color: #3654ff;
    cursor: pointer;
  }
